myinit.el
history
bookmarks
ido.last
\#*
auto-save-list/*
elpa/*
/emacs.secrets
/eww-bookmarks
/_minted-config/0331673B30C8A50305F51352666C35C38B487BF4A6675EFECA6C11FA0AFB4030.pygtex
/mastodon.plstore
/network-security.data
/projectile-bookmarks.eld
/recentf
/smex-items
/config.aux
/config.el
/config.log
/config.out
/config.pyg
/config.toc
/dict-replace.elc
/abbrev_defs
*sx/*
*ltximg*
/snippets/org-mode/.yas-compiled-snippets.el
/snippets/org-mode/.yas-compiled-snippets.elc
*url*
/.org-id-locations
*.vrb
.mc-lists.el
_minted-config/
*.bbl
*.blg
*.old

